// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

body
  font normal 1em sans-serif
  text-align center

p
  margin 0.5em
  text-align center

h1
  font-size 1.5em
  margin 1em

#content
  padding 50px

#demo
  border 1px solid #ccc
  width 100px
  text-align left
  margin 50px auto
  padding 15px
  border-radius 5px
